<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Thêm sản phẩm | Quản trị Admin</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Main CSS-->
  <link rel="stylesheet" type="text/css" href="/admin/css/main.css">
  <link href="/user/images/bee.png" rel="icon">
  <!-- Font-icon css-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- or -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
  <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
  <script>

    function readURL(input, thumbimage) {
      if (input.files && input.files[0]) { //Sử dụng  cho Firefox - chrome
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#thumbimage").attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
      else { // Sử dụng cho IE
        $("#thumbimage").attr('src', input.value);

      }
      $("#thumbimage").show();
      $('.filename').text($("#uploadfile").val());
      $('.Choicefile').css('background', '#14142B');
      $('.Choicefile').css('cursor', 'default');
      $(".removeimg").show();
      $(".Choicefile").unbind('click');

    }
    $(document).ready(function () {
      $(".Choicefile").bind('click', function () {
        $("#uploadfile").click();

      });
      $(".removeimg").click(function () {
        $("#thumbimage").attr('src', '').hide();
        $("#myfileupload").html('<input type="file" id="uploadfile"  onchange="readURL(this);" />');
        $(".removeimg").hide();
        $(".Choicefile").bind('click', function () {
          $("#uploadfile").click();
        });
        $('.Choicefile').css('background', '#14142B');
        $('.Choicefile').css('cursor', 'pointer');
        $(".filename").text("");
      });
    })
  </script>
</head>

<body class="app sidebar-mini rtl">
  <style>
    .Choicefile {
      display: block;
      background: #14142B;
      border: 1px solid #fff;
      color: #fff;
      width: 150px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      padding: 5px 0px;
      border-radius: 5px;
      font-weight: 500;
      align-items: center;
      justify-content: center;
    }

    .Choicefile:hover {
      text-decoration: none;
      color: white;
    }

    #uploadfile,
    .removeimg {
      display: none;
    }

    #thumbbox {
      position: relative;
      width: 100%;
      margin-bottom: 20px;
    }

    .removeimg {
      height: 25px;
      position: absolute;
      background-repeat: no-repeat;
      top: 5px;
      left: 5px;
      background-size: 25px;
      width: 25px;
      /* border: 3px solid red; */
      border-radius: 50%;

    }

    .removeimg::before {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      content: '';
      border: 1px solid red;
      background: red;
      text-align: center;
      display: block;
      margin-top: 11px;
      transform: rotate(45deg);
    }

    .removeimg::after {
      /* color: #FFF; */
      /* background-color: #DC403B; */
      content: '';
      background: red;
      border: 1px solid red;
      text-align: center;
      display: block;
      transform: rotate(-45deg);
      margin-top: -2px;
    }
  </style>
  <!-- Navbar-->
  <div th:insert="~{include/_HeaderAdmin}"></div>
  <!-- Sidebar menu-->
  <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <div th:insert="~{include/_AsideAdmin}"></div>
  <main class="app-content">
    <div class="app-title">
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">Danh sách sản phẩm</li>
        <li class="breadcrumb-item"><a href="#">Thêm sản phẩm</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Tạo mới sản phẩm</h3>
          <div class="tile-body">
            <div class="row element-button">
              <div class="col-sm-2">
                <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#exampleModalCenter"><i
                    class="fas fa-folder-plus"></i>Thêm loại Tour</a>
              </div>
            </div>
            <form method="post" class="row" th:object="${tour}">
            <div class="form-group col-md-3">
                <label class="control-label">Mã tour</label>
                <input th:name="id" th:value="*{TourId}" class="form-control" type="text" required>
              </div>
              <div class="form-group col-md-3">
                <label class="control-label">Tên tour</label>
                <input th:name="name" th:value="*{Name}" class="form-control" type="text" required>
              </div>
				<div class="form-group col-md-3">
                <label for="exampleSelect1" class="control-label">Loại Tour</label>
                <select th:name="category" class="form-control" id="exampleSelect1">
                  <option>-- Chọn danh mục --</option>
                  <option th:each="category : ${categories}" 
	                  	th:value="${category.CategoryTourId}"  th:selected="${category.CategoryTourId != tour.Tour.CategoryTourId ? '' : selected}">
	                  	[[${category.Name}]]
               		</option>
                </select>
              </div>
              <div class="form-group col-md-3 ">
                <div class="form-check">
				  <input class="form-check-input" value="true" type="radio" th:name="available" id="flexRadioDefault1" checked>
				  <label class="form-check-label" for="flexRadioDefault1">
				   	Sẵn sàng
				  </label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" value="false" type="radio" th:name="available" id="flexRadioDefault2">
				  <label class="form-check-label" for="flexRadioDefault2">
				   	Chưa sẵn sàng
				  </label>
				</div>
              </div>
              
              <div class="form-group col-md-3">
                <label class="control-label">Giá bán</label>
                <input th:name="price" th:value="*{PriceAdult}" class="form-control" type="text" required>
              </div>
             <!--  <div class="form-group col-md-3">
                <label class="control-label">Giá vốn</label>
                <input class="form-control" type="text">
              </div> -->
              <div class="form-group col-md-12">
                <label class="control-label">Mô tả sản phẩm</label>
                <textarea th:name="description" class="form-control" required>[[${tour.Description}]]</textarea>

              </div>
				<button class="btn btn-save" th:formaction="@{/travelfpoly/admin/addproduct/create}" type="submit" style="margin-left: 15px; z-index:999;">Lưu</button>
				<button class="btn btn-primary" th:formaction="@{/travelfpoly/admin/addproduct/create}" type="submit" style="margin-left: 15px; z-index:999;">Sửa</button>
          	</form>
          	<a href="/travelfpoly/admin/addproduct">
				<button class="btn btn-cancel" type="submit" style="margin-left: 15px; z-index:999;">Làm mới</button>
			</a>
          	</div>
          	</div>
          </div>
          
        	
        	<table class="table mt-4">
			  <thead>
			    <tr>
			      <th scope="col">Tên Tour</th>
			      <th scope="col">Loại Tour</th>
			      <th scope="col">Giá</th>
			      <th scope="col">Tình trạng</th>
			      <th scope="col">Mô tả</th>
			       <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="tour : ${tours.content}">
			      <th>[[${tour.Name}]]</th>
			      <td>[[${tour.Tour.CategoryTourId}]]</td>
			      <td>[[${tour.PriceAdult}]]</td>
			      <td>[[${tour.Available}]]</td>
			      <td>[[${tour.Description}]]</td>
			      <td>
			      	<a th:href="@{/travelfpoly/admin/addproduct/{tourId}/{categoryId}(tourId=${tour.TourId},categoryId=${tour.Tour.CategoryTourId})}">
			      		<i class="fas fa-pen-square"></i>
			      	</a>
			      	<a th:href="@{|/travelfpoly/admin/addproduct/delete/${tour.TourId}|}">
			      		<i class="fas fa-trash-alt"></i>
			      	</a>
			      </td>
			    </tr>
			    
			  </tbody>
			</table>
			<div class="row mt-5">
				<div class="col text-center">
					<div class="block-27">
						<ul>
							<li>
								<a th:href="@{/travelfpoly/admin/addproduct(page=${tours.number - 1})}">&lt;</a>
							</li>
							<li th:each="item : ${#numbers.sequence(0, tours.totalPages-1)}" th:class="${item} == ${tours.number} ? 'active' : ''">
								<a th:href="@{/travelfpoly/admin/addproduct(page=${item})}" th:text="${item+1}"></a>
							</li>
							<li>
								<a th:href="@{/travelfpoly/admin/addproduct(page=${tours.number + 1})}">&gt;</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
        </div>
  </main>


  <!--
  MODAL CHỨC VỤ 
-->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <div class="row">
            <div class="form-group  col-md-12">
              <span class="thong-tin-thanh-toan">
                <h5>Thêm mới loại Tour</h5>
              </span>
            </div>
            <div class="form-group col-md-12">
              <label class="control-label">Nhập tên loại tour mới</label>
              <input th:name="categoryName" class="form-control" type="text" required>
            </div>
          </div>
          <BR>
          <button class="btn btn-save" th:href="@{/travelfpoly/admin/addcategory}" type="button">Lưu lại</button>
          <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
          <BR>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!--
MODAL
-->



  <!--
  MODAL DANH MỤC
-->
  <div class="modal fade" id="adddanhmuc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <div class="row">
            <div class="form-group  col-md-12">
              <span class="thong-tin-thanh-toan">
                <h5>Thêm mới danh mục </h5>
              </span>
            </div>
            <div class="form-group col-md-12">
              <label class="control-label">Nhập tên danh mục mới</label>
              <input class="form-control" type="text" required>
            </div>
            <div class="form-group col-md-12">
              <label class="control-label">Danh mục sản phẩm hiện đang có</label>
              <ul style="padding-left: 20px;">
                <li>Bàn ăn</li>
              <li>Bàn thông minh</li>
              <li>Tủ</li>
              <li>Ghế gỗ</li>
              <li>Ghế sắt</li>
              <li>Giường người lớn</li>
              <li>Giường trẻ em</li>
              <li>Bàn trang điểm</li>
              <li>Giá đỡ</li>
              </ul>
            </div>
          </div>
          <BR>
          <button class="btn btn-save" type="button">Lưu lại</button>
          <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
          <BR>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!--
MODAL
-->




  <!--
  MODAL TÌNH TRẠNG
-->
  <div class="modal fade" id="addtinhtrang" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <div class="row">
            <div class="form-group  col-md-12">
              <span class="thong-tin-thanh-toan">
                <h5>Thêm mới tình trạng</h5>
              </span>
            </div>
            <div class="form-group col-md-12">
              <label class="control-label">Nhập tình trạng mới</label>
              <input class="form-control" type="text" required>
            </div>
          </div>
          <BR>
          <button class="btn btn-save" type="button">Lưu lại</button>
          <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
          <BR>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!--
MODAL
-->



  <script src="/admin/js/jquery-3.2.1.min.js"></script>
  <script src="/admin/js/popper.min.js"></script>
  <script src="/admin/js/bootstrap.min.js"></script>
  <script src="/admin/js/main.js"></script>
  <script src="/admin/js/plugins/pace.min.js"></script>
  <script>
    const inpFile = document.getElementById("inpFile");
    const loadFile = document.getElementById("loadFile");
    const previewContainer = document.getElementById("imagePreview");
    const previewContainer = document.getElementById("imagePreview");
    const previewImage = previewContainer.querySelector(".image-preview__image");
    const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");
    inpFile.addEventListener("change", function () {
      const file = this.files[0];
      if (file) {
        const reader = new FileReader();
        previewDefaultText.style.display = "none";
        previewImage.style.display = "block";
        reader.addEventListener("load", function () {
          previewImage.setAttribute("src", this.result);
        });
        reader.readAsDataURL(file);
      }
    });

  </script>
</body>

</html>