<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Thêm sản phẩm | Quản trị Admin</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Main CSS-->
  <link rel="stylesheet" type="text/css" href="/admin/css/main.css">
  <link href="/user/images/bee.png" rel="icon">
  <!-- Font-icon css-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- or -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
  <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
</head>

<body class="app sidebar-mini rtl" style="margin: 0px;">
  <!-- Navbar-->
  <div th:insert="~{include/_HeaderAdmin}"></div>
  <!-- Sidebar menu-->
  <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <div th:insert="~{include/_AsideAdmin}"></div>
  <main class="app-content" style="margin-left: 50px;">
    <div class="app-title">
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">Danh sách sản phẩm</li>
        <li class="breadcrumb-item"><a href="#">Thêm sản phẩm</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Tạo mới sản phẩm</h3>
          <div class="tile-body">
            <div class="row element-button">
              <div class="col-sm-2">
                <a th:href="@{/travelfpoly/admin/show}" class="btn btn-add btn-sm"><i
                    class="fas fa-folder-plus"></i>Thêm
                  loại Tour</a>
              </div>
            </div>

            <form method="post" class="row">
              <!-- <form th:action="@{/travelfpoly/admin/createTour}" th:object="${tour}" method="post" class="row">
                <div class="form-group col-md-6">
                  <label class="control-label">Mã tour</label>
                  <input class="form-control" field="*{TourId}" name="TourId" type="text">
                </div>
                <div class="form-group col-md-6">
                  <label for="email" class="control-label">Tên tour</label>
                  <input class="form-control" field="*{Name}" name="Name" type="text">
                </div>

                <div class="form-group col-md-6">
                  <label class="control-label">Trạng thái</label>
                  <div class="form-check">
                    <input class="form-check-input" value="true" type="radio" id="flexRadioDefault1" field="Available"
                      name="Available" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                      Sẵn sàng
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" value="false" type="radio" id="flexRadioDefault2" field="Available"
                      name="Available">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Chưa sẵn sàng
                    </label>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label">Địa điểm đi</label>
                  <input class="form-control" type="text" field="Departure" name="Departure">
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label">Địa điểm đến</label>
                  <input class="form-control" type="text" field="Destination" name="Destination">
                </div>

                <div class="form-group col-md-6">
                  <label class="control-label">giá người lớn</label>
                  <input class="form-control" type="text" field="PriceAdult" name="PriceAdult">
                </div>

                <div class="form-group col-md-6">
                  <label class="control-label">giá người trẻ em </label>
                  <input class="form-control" type="text" field="PriceChildren" name="PriceChildren">
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label">số lượng người lớn</label>
                  <input class="form-control" type="text" field="QuantityAdult" name="QuantityAdult">
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label">Số lượng trẻ em</label>
                  <input class="form-control" type="text" field="QuantityChildren" name="QuantityChildren">
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label">Introduction</label>
                  <input class="form-control" type="text" field="Introduction" name="Introduction">
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label">Duration</label>
                  <input class="form-control" type="text" field="Duration" name="Duration">
                </div>

                <button class="btn btn-save" type="submit" style="margin-left: 15px;">Lưu</button>
                <button class="btn btn-primary" type="submit" style="margin-left: 15px;">Sửa</button>
                <button class="btn btn-cancel" type="submit" style="margin-left: 15px;">Làm mới</button> -->
              <div class="input-group">
                <input type="text" name="keyword" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
            </form>



            <table class="table mt-4">
              <thead>
                <tr>
                  <th scope="col">Loại Tour</th>
                  <th scope="col">Tình trạng</th>
                  <th scope="col">Mô tả</th>
                  <th scope="col">Nơi đi</th>
                  <th scope="col">Nơi đến</th>
                  <th scope="col">Giá người lớn</th>
                  <th scope="col">Giá trẻ em</th>
                  <th scope="col">Số lượng người lớn</th>
                  <th scope="col">số lượng trẻ em</th>
                  <th scope="col">giới thiệu</th>
                  <th scope="col">thời gian</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="tour : ${getListTour}">
                  <!-- <td th:text="${tour.TourId}"></td> -->
                  <td th:text="${tour.Name}"></td>
                  <td th:text="${tour.Available}"></td>
                  <td th:text="${tour.Description}"></td>
                  <td th:text="${tour.Departure}"></td>
                  <td th:text="${tour.Destination}"></td>
                  <td th:text="${tour.PriceAdult}"></td>
                  <td th:text="${tour.PriceChildren}"></td>
                  <td th:text="${tour.QuantityAdult}"></td>
                  <td th:text="${tour.QuantityChildren}"></td>
                  <td th:text="${tour.Introduction}"></td>
                  <td th:text="${tour.Duration}"></td>


                  <td>
                    <a th:href="@{/travelfpoly/admin/fillToTable/{TourId}(TourId=${tour.TourId})}">
                      <i class="fas fa-pen-square"></i>
                    </a>
                    <a th:href="@{/travelfpoly/admin/deleteTour/{TourId}(TourId=${tour.TourId})}">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <!-- <ul>
              <li>
                <a th:href="@{/travelfpoly/admin/addproduct(page=${tours.number - 1})}">&lt;</a>
              </li>
              <li th:each="item : ${#numbers.sequence(0, tours.totalPages-1)}"
                th:class="${item} == ${tours.number} ? 'active' : ''">
                <a th:href="@{/travelfpoly/admin/addproduct(page=${item})}" th:text="${item+1}"></a>
              </li>
              <li>
                <a th:href="@{/travelfpoly/admin/addproduct(page=${tours.number + 1})}">&gt;</a>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="/admin/js/jquery-3.2.1.min.js"></script>
  <script src="/admin/js/popper.min.js"></script>
  <script src="/admin/js/bootstrap.min.js"></script>
  <script src="/admin/js/main.js"></script>
  <script src="/admin/js/plugins/pace.min.js"></script>

</body>

</html>