<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Danh sách đơn hàng | Quản trị Admin</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Main CSS-->
  <link rel="stylesheet" type="text/css" href="/admin/css/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- or -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <link href="/user/images/bee.png" rel="icon">

  <!-- Font-icon css-->
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <style type="text/css">
    .template-a80 {
      width: 240px !important;
      padding: 14px;
      margin: 0 8px;
    }
  </style>
</head>

<body onload="time()" class="app sidebar-mini rtl" style="margin-top: 0;">
  <!-- Navbar-->
  <div th:insert="~{include/_HeaderAdmin}"></div>
  <!-- Sidebar menu-->
  <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <div th:insert="~{include/_AsideAdmin}"></div>
  <main class="app-content" style="margin-left: 50px;">
    <div class="row">
      <div class="col-md-12">

        <div class="tile">

          <h3 class="tile-title">Quản lý hóa đơn</h3>
          <div class="tile-body">
            <div class="row element-button">
              <div class="col-sm-8">
                <form th:method="get">
                  <div class="input-group mb-3" style="height :46px; border:1px solid; border-radius:10px;">
                    <span class="input-group-text"
                      style="height:44px; border:none; border-top-left-radius:10px;border-bottom-left-radius:10px;"
                      id="addon-wrapping">
                      <i class="fas fa-qrcode"></i>
                    </span>
                    <input th:name="searchKey" style="border:none;height:44px;" type="text" class="form-control"
                      placeholder="Enter tour id, tour name or customer name" aria-label="Recipient's username"
                      aria-describedby="button-addon2">
                    <button th:formaction="@{/travelfpoly/admin/addorder/search}"
                      style="border:none; height:46px; border-radius:10px" class="btn btn-outline-secondary"
                      type="submit" id="button-addon2">Tìm kiếm</button>
                  </div>
                </form>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-info" type="submit" onclick="printContent()"
                  style="margin-left: 10px; height :46px;"><i class="fas fa-print" style="padding-right:5px;"></i>IN HÓA
                  ĐƠN</button>
              </div>
            </div>
            <form class="row" th:object="${invoice}" th:method="post">
              <div class="form-group  col-md-4">
                <label class="control-label">Mã tour</label>
                <input th:name="orderDetailTourId" th:value="*{orderDetailTourId}" class="form-control" type="text"
                  disabled required>
              </div>
              <div class="form-group  col-md-4">
                <label class="control-label">Điểm xuất phát</label>
                <input th:name="Departure" th:value="*{Departure}" class="form-control" type="text" disabled>
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Điểm đến</label>
                <input th:name="Destination" th:value="*{Destination}" class="form-control" type="text" disabled>
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Ngày khởi hành</label>
                <input th:name="StartDate" th:value="*{StartDate}" class="form-control" type="text" required>
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Ngày kết thúc</label>
                <input th:name="EndDate" th:value="*{EndDate}" class="form-control" type="text" disabled>
              </div>
              <div class="form-group  col-md-4">
                <label class="control-label">Thời gian</label>
                <input th:name="Duration" th:value="*{Duration}" class="form-control" type="number" disabled>
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Tên Khách Hàng</label>
                <input th:name="CustomerName" th:value="*{CustomerName}" class="form-control" type="text">
              </div>
              <div class="form-group  col-md-4">
                <label class="control-label">Số vé người lớn</label>
                <input th:name="QuantityAdult" th:value="*{QuantityAdult}" class="form-control" type="number" required>
              </div>
              <div class="form-group  col-md-4">
                <label class="control-label">Giá vé người lớn</label>
                <input th:name="PriceAdult" th:value="*{PriceAdult}" class="form-control" type="number" disabled>
              </div>
              <div class="form-group  col-md-4">
                <label class="control-label">Số vé trẻ em</label>
                <input th:name="QuantityChildren" th:value="*{QuantityChildren}" class="form-control" type="number"
                  required>
              </div>
              <div class="form-group  col-md-4">
                <label class="control-label">Giá vé trẻ em</label>
                <input th:name="PriceChildren" th:value="*{PriceChildren}" class="form-control" type="number" disabled>
              </div>
              <div class="form-group  col-md-4">
                <h2>Tổng tiền: [[${total}]]</h2>
                <p id="total" style="display:none;" th:utext="${total}"></p>
                <span style="color: #e03e2d; line-height: 22.4px;">
                  <span style="color: #000000; line-height: 22.4px;">Status:</span>
                  <span th:if="${invoice.Status == 0}" style="color: #e03e2d; line-height: 22.4px;">Unpaid !</span>
                  <span th:if="${invoice.Status == 1}" style="color: #ffc900; line-height: 22.4px;">Paying !</span>
                  <span th:if="${invoice.Status == 2}" style="color: #2dc26b; line-height: 22.4px;">Paid !</span>
                </span>
              </div>
              <button class="btn btn-primary"
                th:formaction="@{|/travelfpoly/admin/addorder/create/*{orderDetailTourId}|}" type="submit"
                style="margin-left: 15px;">Sửa</button>
              <a href="/travelfpoly/admin/addorder">
                <button class="btn btn-cancel" type="submit" style="margin-left: 15px;">Làm mới</button>
              </a>
            </form>

          </div>

          <table class="table mt-4">
            <thead>
              <tr>
                <th scope="col">Mã Tour</th>
                <th scope="col">Điểm xuất phát</th>
                <th scope="col">Điểm đến</th>
                <th scope="col">Ngày khởi hành</th>
                <th scope="col">Ngày kết thúc</th>
                <th scope="col">Thời gian</th>
                <th scope="col">Số vé người lớn</th>
                <th scope="col">Giá vé người lớn</th>
                <th scope="col">Số vé trẻ em</th>
                <th scope="col">Giá vé trẻ em</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Tên khách hàng</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="invoice : ${listInvoice.content}">
                <th>[[${invoice.orderDetailTourId}]]</th>
                <td>[[${invoice.Departure}]]</td>
                <td>[[${invoice.Destination}]]</td>
                <td>[[${invoice.StartDate}]]</td>
                <td>[[${invoice.EndDate}]]</td>
                <td>[[${invoice.QuantityAdult}]]</td>
                <td>[[${invoice.PriceAdult}]]</td>
                <td>[[${invoice.QuantityChildren}]]</td>
                <td>[[${invoice.PriceChildren}]]</td>
                <td>[[${invoice.PriceChildren}]]</td>
                <td>[[${invoice.CustomerName}]]</td>
                <td>
                  <a th:href="@{|/travelfpoly/admin/addorder/${invoice.orderDetailTourId}|}">
                    <iconify-icon style="font-size: 18px;" icon="grommet-icons:document-update"></iconify-icon>
                  </a>
                  <a th:href="@{|/travelfpoly/admin/addorder/delete/${invoice.orderDetailTourId}|}">
                    <iconify-icon style="font-size: 18px;" icon="mi:delete"></iconify-icon>
                  </a>
                </td>
              </tr>

            </tbody>
          </table>
          <div class="row mt-5">
            <div class="col text-center">
              <div class="block-27">
                <ul>
                  <li>
                    <a th:href="@{/travelfpoly/admin/addorder(page=${listInvoice.number - 1})}">&lt;</a>
                  </li>
                  <li th:each="item : ${#numbers.sequence(0, listInvoice.totalPages-1)}"
                    th:class="${item} == ${listInvoice.number} ? 'active' : ''">
                    <a th:href="@{/travelfpoly/admin/addorder(page=${item})}" th:text="${item+1}"></a>
                  </li>
                  <li>
                    <a th:href="@{/travelfpoly/admin/addorder(page=${listInvoice.number + 1})}">&gt;</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  </main>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <div class="row">
            <div class="form-group  col-md-12">
              <span class="thong-tin-thanh-toan">
                <h5>Tạo chức vụ mới</h5>
              </span>
            </div>
            <div class="form-group col-md-12">
              <label class="control-label">Nhập tên chức vụ mới</label>
              <input class="form-control" type="text" required>
            </div>
          </div>
          <BR>
          <button class="btn btn-save" type="button">Lưu lại</button>
          <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
          <BR>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="content-template-child template-a80" style="display: none;" th:object="${invoice}">
    <style>
      @media print {
        @page {
          margin: 0.2mm 1.4mm 0.2mm 1.4mm;
          font-family: Arial, Helvetica, sans-serif;
        }

        p {
          margin: 5px
        }

        hr {
          margin: 3px
        }

        tbody.loop tr,
        tbody.loop td,
        table thead tr th {
          border: 1px solid #5a5a5a;
        }

        .border-none tbody.loop tr,
        .border-none tbody.loop td {
          border: none !important;
        }

        .content-template-child .loop td {
          padding-left: 2px !important;
          padding-right: 2px !important
        }

        .content-template-child {
          font-family: Arial, Helvetica, sans-serif !important;
        }

        .content-template-child .table-loop .td {
          padding-left: 5px !important;
        }

        .content-template-child .template-a58 {
          padding: 8px !important;
        }

        .content-template-child .template-a80 {
          padding: 8px !important;
        }

        .content-template-child .template-a4 {
          width: 210mm !important;
          padding: 8px !important;
        }

        .content-template-child .template-a5 {
          width: 148mm !important;
          padding: 8px !important;
        }

        .content-template-child .template-a6 {
          width: 105mm !important;
          padding: 8px !important;
        }

        .content-template-child table {
          border-collapse: collapse !important;
          width: 100% !important;
        }

        .content-template-child figure.table {
          margin: 0 !important;
          width: 100% !important;
          margin-top: 10px !important;
        }

        .content-template-child figure.table p {
          margin: 0 !important;
        }

        .content-template-child img.barcode {
          max-width: 200px !important;
        }

        .content-template-child hr {
          border-color: black !important;
          border: unset !important;
          border-bottom: 1px solid !important;
        }

        .content-template-child .table tr td {
          padding: 5px 2px !important;
        }

        table tr td {
          padding: 3px 3px;
        }

        table {
          margin: 5px 0px !important;
        }

        .loop td>span {
          word-break: break-word;
        }
      }

      tbody.loop tr,
      tbody.loop td,
      table thead tr th {
        border: 1px solid #5a5a5a;
      }
    </style>
    <table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
      <tbody>
        <tr class="ten_cua_hang">
          <td style="text-align: center;"><span
              style="font-family:Arial, Helvetica, sans-serif;font-size:14px;"><strong><span class="mention"
                  data-mention="Misa eShop">Travel Fpoly</span> </strong> </span></td>
        </tr>
        <tr class="dia_chi_cua_hang">
          <td style="text-align: center;"><span style="font-family:Arial, Helvetica, sans-serif;font-size:11px;"><span
                class="mention" data-mention="521 Trương Định, Thịnh Liệt, Hoàng Mai, Hà Nội">Công viên Quang Trung,
                Quận 12, TP.HCM</span> </span></td>
        </tr>
        <tr class="sdt_cua_hang">
          <td style="text-align: center;"><span
              style="font-family:Arial, Helvetica, sans-serif;font-size:11px;">0977487714</span></td>
        </tr>
      </tbody>
    </table>

    <table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
      <tbody>
        <tr>
          <td style="text-align: center;"><span
              style="font-family:Arial, Helvetica, sans-serif;font-size:14px;"><strong>HÓA ĐƠN</strong> </span></td>
        </tr>

        <tr class="so_hoa_don">
          <td style="text-align: center;"><span
              style="font-family:Arial, Helvetica, sans-serif;font-size:11px;"><strong>Số: <span class="mention"
                  data-mention="HHT-2012490013">[[*{orderDetailTourId}]]</span> </strong> </span><br>
            &nbsp;</td>
        </tr>
      </tbody>
    </table>


    <div style="display: flex;">
      <table border="0" cellpadding="1" cellspacing="1" style="width:50%;">
        <tbody>
          <tr class="ngay_bh_ddmmyy">
            <td id="ngayThangNamGio"></td>
          </tr>

          <tr class="ten_khach_hang">
            <td><span style="font-size:11px;"><strong>KH:</strong>[[*{CustomerName}]]</span></td>
          </tr>

          <tr class="so_dien_thoai_khach">
            <td><span style="font-size:11px;"><strong>SÐT:</strong> [[*{Phone}]]</span></td>
          </tr>
          <tr class="nhan_vien_bh">
            <td><span style="font-size:11px;"><strong>NVBH:</strong>tanduong</span></td>
          </tr>
        </tbody>
      </table>
      <table border="0" cellpadding="1" cellspacing="1" style="width:50%;">
        <tbody>
          <tr class="ngay_bh_ddmmyy">
            <td><img th:src="'data:image/png;base64,' + *{Base64}" width="100" height="100"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
      <tbody>
        <tr class="ngay_giao_hang">
          <td><span style="font-size:11px;"><strong>Ngày đi:</strong> [[*{StartDate}]]</span></td>
        </tr>
        <tr class="ngay_giao_hang">
          <td><span style="font-size:11px;"><strong>Ngày về:</strong> [[*{EndDate}]]</span></td>
        </tr>
        <tr class="dia_chi_nguoi_nhan">
          <td><span style="font-size:11px;"><strong>Điểm xuất phát:</strong> [[*{Departure}]]</span></td>
        </tr>
        <tr class="dia_chi_nguoi_nhan">
          <td><span style="font-size:11px;"><strong>Điểm đến</strong> [[*{Destination}]]</span></td>
        </tr>
      </tbody>
    </table>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%;">
      <tbody class="loop">
        <tr>
          <td style="text-align: center;"><strong><span style="font-size:11px;">Tên Tour</span> </strong></td>
          <td style="text-align: center;"><strong><span style="font-size:11px;">SL</span> </strong></td>
          <td style="text-align: center;"><strong><span style="font-size:11px;">ÐG</span> </strong></td>
          <td style="text-align: center;"><strong><span style="font-size:11px;">TT</span> </strong></td>
        </tr>
        <tr>
          <td><span style="font-size:11px;">[[*{Destination}]]</span></td>
          <td style="text-align: center;"><span style="font-size:11px;">[[*{QuantityAdult}]] - Child:
              [[*{QuantityChildren}]]</span></td>
          <td style="text-align: right; "><span style="font-size:11px;">[[*{PriceAdult}]] - Child:
              [[*{PriceChildren}]]</span></td>
          <td style="text-align: right;"><span style="font-size:11px;">[[${total}]]</span></td>
        </tr>
      </tbody>
    </table>

    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
      <tbody>
        <tr>
          <td>
            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;margin:0!important;">
              <tbody>
                <tr class="tong_so_luong_hang_mua">
                  <td style="width: 50%;"><em><strong><span style="font-size:12px;">Tổng SL mua</span> </strong> </em>
                  </td>
                  <td style="text-align: right;"><strong><span style="font-size:11px;">[[*{QuantityAdult} +
                        *{QuantityChildren}]]</span> </strong></td>
                </tr>

                <tr class="ma_uu_dai">
                  <td style="width: 50%;"><em><span style="font-size:12px;">&nbsp; &nbsp; &nbsp; &nbsp;Mã ưu đãi
                        (SSBCSS22)</span> </em></td>
                  <td style="text-align: right;"><em><span style="font-size:12px;">0</span> </em></td>
                </tr>
                <tr>
                  <td style="width: 50%;"><strong><span style="font-size:14px;">Tổng thanh toán:</span> </strong></td>
                  <td style="text-align: right;"><strong><span style="font-size:14px;">[[${total}]]</span> </strong>
                  </td>
                </tr>


              </tbody>
            </table>
            <p style="margin-left: auto; text-align: center;"><span style="font-size:12px;">
                <font face="Arial, Helvetica, sans-serif"><strong>Trân trọng cảm ơn!</strong> </font>
              </span></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--
  MODAL
-->
  <script type="text/javascript">
    function printContent() {
      var contentToPrint = document.querySelector('.template-a80');
      const printWindow = window.open('', '_blank');
      printWindow.document.body.innerHTML = contentToPrint.innerHTML;

      printWindow.document.close();
      setTimeout(() => {
        printWindow.print();
      }, 500);
    }
  </script>
  <script>
    document.getElementById('imageFile').addEventListener('change', function (event) {
      var file = event.target.files[0];
      var reader = new FileReader();

      reader.onload = function (e) {
        document.getElementById('previewImage').setAttribute('src', e.target.result);
      };

      reader.readAsDataURL(file);
    });
  </script>
  <script>
    // Hàm để lấy ngày và giờ hiện tại
    function layNgayGioHienTai() {
      var today = new Date();
      var date = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();
      var time = today.getHours() + ":" + today.getMinutes();
      return date + ' ' + time;
    }

    // Đặt giá trị của thẻ td bằng ngày và giờ hiện tại
    document.getElementById('ngayThangNamGio').innerHTML = '<span style="font-size:11px;"><strong>Ngày:</strong> ' + layNgayGioHienTai() + '</span>';
  </script>
  <!-- Essential javascripts for application to work-->
  <script src="/admin/js/jquery-3.2.1.min.js"></script>
  <script src="/admin/js/popper.min.js"></script>
  <script src="/admin/js/bootstrap.min.js"></script>
  <script src="/admin/js/main.js"></script>
  <!-- The javascript plugin to display page loading on top-->
  <script src="/admin/js/plugins/pace.min.js"></script>

</body>
<!-- Essential javascripts for application to work-->
<script src="/admin/js/jquery-3.2.1.min.js"></script>
<script src="/admin/js/popper.min.js"></script>
<script src="/admin/js/bootstrap.min.js"></script>
<script src="/admin/js/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/admin/js/plugins/pace.min.js"></script>
</body>

</html>