<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Danh sách nhân viên | Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/admin/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="/user/images/bee.png" rel="icon">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	<script>
        document.addEventListener('DOMContentLoaded', function () {
            var yearSelect = document.getElementById('selectedYear');
            var currentYear = new Date().getFullYear();
            for (var year = currentYear; year >= 2000; year--) {
                var option = document.createElement('option');
                option.value = year;
                option.text = year;
                yearSelect.add(option);
            }
        });
        
    </script>
</head>

<body class="app sidebar-mini rtl" style="margin-top: 0; overflow-x: hidden;">
    <!-- Navbar-->
    <div th:insert="~{include/_HeaderAdmin}"></div>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <div th:insert="~{include/_AsideAdmin}"></div>
    <main class="app-content" style="margin-left: 50px;">
        <div class="row">
            <div class="col-md-12">
                <div class="app-title">
                    <ul class="app-breadcrumb breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><b>Báo cáo doanh thu </b></a></li>
                    </ul>
                    <div id="clock"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="widget-small primary coloured-icon"><i class='icon  bx bxs-user fa-3x'></i>
                    <div class="info">
                        <h4>Tổng Nhân viên</h4>
                        <p><b>[[${staff}]] nhân viên</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small info coloured-icon"><i class='icon bx bxs-purchase-tag-alt fa-3x'></i>
                    <div class="info">
                        <h4>Tổng sản phẩm</h4>
                        <p><b>[[${tour}]] Tour - [[${hotel}]] Hotel</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small warning coloured-icon"><i class='icon fa-3x bx bxs-shopping-bag-alt'></i>
                    <div class="info">
                        <h4>Tổng đơn hàng</h4>
                        <p><b>[[${orderTour}]] Tour - [[${orderHotel}]] Hotel</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-info-circle'></i>
                    <div class="info">
                        <h4>Bị cấm</h4>
                        <p><b>[[${staffIsBaned}]] nhân viên</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="widget-small primary coloured-icon"><i class='icon fa-3x bx bxs-chart'></i>
                    <div class="info">
                        <h4>Tổng thu nhập</h4>
                        <p><b>[[${getRevenue}]] $</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small info coloured-icon"><i class='icon fa-3x bx bxs-user-badge'></i>
                    <div class="info">
                        <h4>Khách hàng mới</h4>
                        <p><b>[[${user}]] khách hàng</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small warning coloured-icon"><i class='icon fa-3x bx bxs-tag-x'></i>
                    <div class="info">
                        <h4>Hết hàng</h4>
                        <p><b>[[${tourQuantity}]] Tour - [[${hotelQuantity}]] Hotel</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-receipt'></i>
                    <div class="info">
                        <h4>Đơn hàng hủy</h4>
                        <p><b>[[${orderCancel}]] đơn hàng</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="chartCard">
			      <div class="chartBox">
			        <div id="yearlyOptions">
			            <label for="selectedYear">Chọn năm:</label>
			            <select id="selectedYear" onchange="updateChartData()"></select>
			        </div>
			        <canvas id="myChart"></canvas>
			      </div>
			    </div>
			    <div class="toast">
			        <div class="toast-content">
			            <i class="check"></i>
			            <div class="message">
			                <span class="text text-1">Success</span>
			                <span class="text text-2">Your changes has been saved</span>
			            </div>
			        </div>
			        <i class="fa-solid fa-xmark close"></i>
			        <div class="progress"></div>
			    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div>
                        <h3 class="tile-title">TOUR BÁN CHẠY</h3>
                    </div>
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr>
                                    <th>Mã Tour</th>
                                    <th>Tên Tour</th>
                                    <th>Giá tiền</th>
                                    <th>Số lượng đã bán</th>
                                    <th>Danh mục</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="best:${bestSellingTours}">
                                    <td>[[${best[0]}]]</td>
                                    <td>[[${best[1]}]]</td>
                                    <td>[[${best[3]}]] (Children: [[${best[4]}]])</td>
                                    <td>[[${best[2]}]]</td>
                                    <td>[[${best[5]}]]</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div>
                        <h3 class="tile-title">HOTEL BÁN CHẠY</h3>
                    </div>
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr>
                                    <th>Mã Hotel</th>
                                    <th>Tên Hotel</th>
                                    <th>Giá tiền</th>
                                    <th>Số lượng đã bán</th>
                                    <th>Loại khách sạn</th>
                                    <th>Loại Phòng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="best:${bestSellingHotels}">
                                    <td>[[${best[0]}]]</td>
                                    <td>[[${best[1]}]]</td>
                                    <td>[[${best[3]}]]</td>
                                    <td>[[${best[2]}]]</td>
                                    <td>[[${best[4]}]]</td>
                                    <td>[[${best[5]}]]</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right" style="font-size: 12px">
            <p><b>Hệ thống quản lý V2.0 | Code by Travel Fpoly</b></p>
        </div>
    </main>
    <!-- Essential javascripts for application to work-->
    <script src="/admin/js/jquery-3.2.1.min.js"></script>
    <script src="/admin/js/popper.min.js"></script>
    <script src="/admin/js/bootstrap.min.js"></script>
    <script src="/admin/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="/admin/js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
	    
	    const dates=['Jan', 'Feb', 'Mar', 'Apr', 'Jun', 'Jul', 'Agu','Sep','Oct', 'Nov','Dec',];
	    
	    /*<![CDATA[*/
		var revenueYearData = /*[[${revenueYear}]]*/ [];
		var revenueHotelYearData = /*[[${revenueHotelYear}]]*/ [];
		var quantityTourYear = /*[[${quantityTourYear}]]*/ [];
		var quantityHotelYear = /*[[${quantityHotelYear}]]*/ [];
		/*]]>*/
		const dataYear1 = [];

		revenueYearData.forEach(item => {
		    const existingYear = dataYear1.find(dataItem => dataItem.year === item.year);

		    if (existingYear) {
		        if (item.month > 0 && item.month <= 12) {
		            existingYear.data1[item.month - 1] = item.totalRevenue || 0;
		        }
		    } else {
		        const newData1 = Array(12).fill(0);

		        if (item.month > 0 && item.month <= 12) {
		            newData1[item.month - 1] = item.totalRevenue || 0;
		        }

		        dataYear1.push({
		            year: item.year,
		            data1: newData1,
		            data2: Array(12).fill(0),
		            data3: Array(12).fill(0),
		            data4: Array(12).fill(0)
		        });
		    }
		});

		revenueHotelYearData.forEach(item => {
		    const existingYear = dataYear1.find(dataItem => dataItem.year === item.year);

		    if (existingYear) {
		        if (item.month > 0 && item.month <= 12) {
		            existingYear.data2[item.month - 1] = item.totalRevenue || 0;
		        }
		    } else {
		        const newData2 = Array(12).fill(0);

		        if (item.month > 0 && item.month <= 12) {
		            newData2[item.month - 1] = item.totalRevenue || 0;
		        }

		        dataYear1.push({
		            year: item.year,
		            data1: Array(12).fill(0),
		            data2: newData2,
		            data3: Array(12).fill(0),
		            data4: Array(12).fill(0)
		        });
		    }
		});
		
		quantityTourYear.forEach(item => {
		    const existingYear = dataYear1.find(dataItem => dataItem.year === item.year);

		    if (existingYear) {
		        if (item.month > 0 && item.month <= 12) {
		            existingYear.data3[item.month - 1] = item.totalRevenue || 0;
		        }
		    } else {
		        const newData2 = Array(12).fill(0);

		        if (item.month > 0 && item.month <= 12) {
		            newData3[item.month - 1] = item.totalRevenue || 0;
		        }

		        dataYear1.push({
		            year: item.year,
		            data1: Array(12).fill(0),
		            data2: Array(12).fill(0),
		            data3: newData3,
		            data4: Array(12).fill(0)
		        });
		    }
		});
		
		quantityHotelYear.forEach(item => {
		    const existingYear = dataYear1.find(dataItem => dataItem.year === item.year);

		    if (existingYear) {
		        if (item.month > 0 && item.month <= 12) {
		            existingYear.data4[item.month - 1] = item.totalRevenue || 0;
		        }
		    } else {
		        const newData2 = Array(12).fill(0);

		        if (item.month > 0 && item.month <= 12) {
		            newData4[item.month - 1] = item.totalRevenue || 0;
		        }

		        dataYear1.push({
		            year: item.year,
		            data1: Array(12).fill(0),
		            data2: Array(12).fill(0),
		            data3: Array(12).fill(0),
		            data4: newData4
		        });
		    }
		});

		console.log(dataYear1);
	  	
	    const dataPoints1= [1,4,3,34,56,6,68,1,4,3,34,56];
	    const dataPoints2= [1,23,3,34,34,5,2,1,23,3,34,34];
	    const dataPoints3= [1,11,34,4,34,4,23,1,11,34,4,34];
	    const dataPoints4= [1,2,9,34,34,4,7,1,2,9,34,34];
	    const data = {
	      labels: dates,
	      datasets: [
	        {
	        label: 'Doanh thu Tour',
	        data: dataPoints1,
	        backgroundColor: [
	          'rgba(255, 26, 104, 0.2)'
	        ],
	        borderColor: [
	          'rgba(255, 26, 104, 1)'
	        ],
	        borderWidth: 1
	      },
	      {
	        label: 'Doanh thu Hotel',
	        data: dataPoints2,
	        backgroundColor: [
	          'rgba(54, 162, 235, 0.2)'
	        ],
	        borderColor: [
	          'rgba(54, 162, 235, 1)'
	        ],
	        borderWidth: 1
	      },
	      {
	        type: 'line',
	        label: 'Số lượng Tour được mua',
	        data: dataPoints3,
	        backgroundColor: [
	          'rgba(255, 26, 104, 0.2)'
	        ],
	        borderColor: [
	          'rgba(255, 26, 104, 1)'
	        ],
	        borderWidth: 1
	      },
	      {
	        type: 'line',
	        label: 'Số lượng Hotel được mua',
	        data: dataPoints4,
	        backgroundColor: [
	          'rgba(54, 162, 235, 0.2)'
	        ],
	        borderColor: [
	          'rgba(54, 162, 235, 1)'
	        ],
	        borderWidth: 1,
	        // yAxisID: 'y2'
	      }
	    ]
	    };
	
	    // config 
	    const config = {
	      type: 'bar',
	      data,
	      options: {
	        scales: {
	          y: {
	            beginAtZero: true
	          }
	        }
	      }
	    };
	
	    // render init block
	    const myChart = new Chart(
	      document.getElementById('myChart'),
	      config
	    );
	    function toastNotification(iconClass, status, message) {
	        toast = document.querySelector(".toast");
	        closeIcon = document.querySelector(".close");
	        progress = document.querySelector(".progress");
	        statuslower = status.toLowerCase();
	        let timer1, timer2;
	
	        // Set icon and status
	        const iconElement = document.querySelector(".check");
	        iconElement.className = `fas fa-solid ${iconClass} ${statuslower} check`;
	        // set border toast
	        toast.classList.add(statuslower);
	        progress.classList.add(statuslower)
	        // Set message
	        const messageElement = document.querySelector(".message");
	        messageElement.innerHTML = `
	            <span class="text text-1">${status}</span>
	            <span class="text text-2">${message}</span>
	        `;
	
	        toast.classList.add("active");
	        progress.classList.add("active");
	
	        timer1 = setTimeout(() => {
	            toast.classList.remove("active");
	toast.classList.remove(statuslower);
	        }, 3700); 
	
	        timer2 = setTimeout(() => {
	            progress.classList.remove("active");
	            progress.classList.remove(statuslower);
	            iconElement.className="check";
	        }, 4000);
	
	        closeIcon.addEventListener("click", () => {
	            toast.classList.remove("active");
	            setTimeout(() => {
	                progress.classList.remove("active");
	            }, 300);
	
	            clearTimeout(timer1);
	            clearTimeout(timer2);
	            iconElement.className="check";
	        });
	    }
	
	    function getSelectedYear() {
	        const selectedYear = document.getElementById('selectedYear').value;
	        return parseInt(selectedYear, 10);
	    }
	   
	    function updateChartData() {
	        const selectedYear = getSelectedYear();
	        const selectedData = dataYear1.find(item => item.year === selectedYear);
	        const options = document.getElementById('selectedYear').options;
	        notification = document.getElementById('notification');
	        for (let i = 0; i < options.length; i++) {
	            options[i].removeAttribute('selected');
	        }
	        document.querySelector(`#selectedYear option[value="${selectedYear}"]`).setAttribute('selected', 'selected');
	        if (selectedData) {
	            myChart.data.datasets[0].data = selectedData.data1;
	            myChart.data.datasets[1].data = selectedData.data2;
	            myChart.data.datasets[2].data = selectedData.data3;
	            myChart.data.datasets[3].data = selectedData.data4;
	            myChart.update();
	            toastNotification('fa-check','Success','Thành công');
	        } else {
	            toastNotification('fa-xmark','Error','Không tìm thấy dữ liệu');
	            console.log('Không tìm thấy dữ liệu cho năm đã chọn');
	        }
	    }
    </script>
    <!-- Google analytics script-->
    <script type="text/javascript">
        if (document.location.hostname == 'pratikborsadiya.in') {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-72504830-1', 'auto');
            ga('send', 'pageview');
        }
    </script>
</body>

</html>