<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thêm sản phẩm | Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/admin/css/main.css">
    <link href="/user/images/bee.png" rel="icon">
    <!-- Font-icon css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
</head>

<body class="app sidebar-mini rtl" style="margin: 0px;">
    <!-- Navbar-->
    <div th:insert="~{include/_HeaderAdmin}"></div>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <div th:insert="~{include/_AsideAdmin}"></div>
    <main class="app-content" style="margin-left: 50px;">
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <h3 class="tile-title">Tạo mới sản phẩm</h3>
                    <div class="tile-body">
                        <form th:action="@{/travelfpoly/admin/SaveTourService}" th:object="${tourService}" method="post"
                            class="row" enctype="multipart/form-data">
                            <div class="form-group col-md-6">
                                <label class="control-label">ID</label>
                                <input class="form-control" th:field="*{TourServiceId}" type="text">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Name" class="control-label">Name</label>
                                <input class="form-control" th:field="*{Name}" type="text">
                                <span th:if="${#fields.hasErrors('Name')}" th:errors="*{Name}"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Description" class="control-label">Description</label>
                                <input class="form-control" th:field="*{Description}" type="text">
                                <span th:if="${#fields.hasErrors('Description')}" th:errors="*{Description}"></span>
                            </div>


                            <div class="form-group col-md-6">
                                <label for="Surcharge" class="control-label">Surcharge</label>
                                <input class="form-control" th:field="*{Surcharge}" type="text">
                                <span th:if="${#fields.hasErrors('Surcharge')}" th:errors="*{Surcharge}"></span>
                            </div>

                            <button class="btn btn-save" type="submit" style="margin-left: 15px;">Lưu</button>
                        </form>


                        <table class="table mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Tiêu đề</th>
                                    <th scope="col">Miêu tả</th>
                                    <th scope="col">số ngày đi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="tourServices : ${tourServices}">
                                    <td th:text="${tourServices.TourServiceId}"></td>
                                    <td th:text="${tourServices.Name}"></td>
                                    <td th:text="${tourServices.Description}"></td>
                                    <td th:text="${tourServices.Surcharge}"></td>


                                    <td>
                                        <a
                                            th:href="@{/travelfpoly/admin/updateTourService/{TourServiceId}(TourServiceId=${tourServices.TourServiceId})}">
                                            <i class="fas fa-pen-square"></i>
                                        </a>
                                        <a
                                            th:href="@{/travelfpoly/admin/deleteTourService/{TourServiceId}(TourServiceId=${tourServices.TourServiceId})}">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mt-1" style="padding-left: 450px;">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li th:if="${tourServices.number > 1}">
                                <a th:href="@{'?pageNo='+${tourServices.number-1}}">&lt;</a>
                            </li>
                            <li th:each="item : ${#numbers.sequence(0, tourServices.totalPages-1)}"
                                th:class="${item} == ${tourServices.number} ? 'active' : ''">
                                <a th:text="${item+1}" th:href="@{'?pageNo='+${item}}"></a>
                            </li>
                            <li th:if="${tourServices.number < tourServices.totalPages-1}">
                                <a th:href="@{'?pageNo='+${tourServices.number+1}}">&gt;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/admin/js/jquery-3.2.1.min.js"></script>
    <script src="/admin/js/popper.min.js"></script>
    <script src="/admin/js/bootstrap.min.js"></script>
    <script src="/admin/js/main.js"></script>
    <script src="/admin/js/plugins/pace.min.js"></script>

</body>

</html>