h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
    /* background: -webkit-linear-gradient(left, #25c481);
    background: linear-gradient(to right, #25c481); */
    /* background: #bfc2b6; */
    /* overflow: hidden;
    background: rgba(202, 202, 202, 0.5);
    border-radius: 5px;
    z-index: 20;
    box-shadow: 2px 2px 2px rgb(190, 190, 190); */
}

section table {
    overflow: hidden;
    background: rgba(202, 202, 202, 0.5);
    border-radius: 5px;
    z-index: 20;
    box-shadow: 2px 2px 2px rgb(190, 190, 190);
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    color: black;
    font-weight: 500;
    border-bottom: solid 2px gray;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: black;
    border-bottom: solid 1px grey;
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    background: -webkit-linear-gradient(left, #25b7c4, #25b7c4);
    background: linear-gradient(to right, #25aac4, #25b7c4);
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 50px;
}


/* follow me template */

.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 15px;
    font-family: arial;
    /* color: #fff; */
}

.made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
}

.made-with-love a {
    color: orangered;
    text-decoration: none;
}

.made-with-love a:hover {
    text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

 ::-webkit-scrollbar {
    width: 6px;
}

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

 ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}