<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<aside class="app-sidebar">
	    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="/admin/images/bee.jpg" width="50px"
	        alt="User Image">
	      <div>
	        <p class="app-sidebar__user-name"><b>Travel FPoly</b></p>
	        <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
	      </div>
	    </div>
	    <hr>
	    <ul class="app-menu">
	      <li><a class="app-menu__item haha" href="/travelfpoly/admin/sale"><i class='app-menu__icon bx bx-cart-alt'></i>
	          <span class="app-menu__label">POS Bán Hàng</span></a></li>
	      <li><a class="app-menu__item active" href="/travelfpoly/admin/index"><i class='app-menu__icon bx bx-tachometer'></i><span
	            class="app-menu__label">Bảng điều khiển</span></a></li>
	      <li><a class="app-menu__item " href="/travelfpoly/admin/addstaff"><i class='app-menu__icon bx bx-id-card'></i> <span
	            class="app-menu__label">Quản lý nhân viên</span></a></li>
	      <li><a class="app-menu__item" href="#"><i class='app-menu__icon bx bx-user-voice'></i><span
	            class="app-menu__label">Quản lý khách hàng</span></a></li>
	      <li><a class="app-menu__item" href="/travelfpoly/admin/addproduct"><i
	            class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý sản phẩm</span></a>
	      </li>
	      <li><a class="app-menu__item" href="/travelfpoly/admin/addorder"><i class='app-menu__icon bx bx-task'></i><span
	            class="app-menu__label">Quản lý đơn hàng</span></a></li>
	      <li><a class="app-menu__item" href="/travelfpoly/admin/addinternal"><i class='app-menu__icon bx bx-run'></i><span
	            class="app-menu__label">Quản lý nội bộ
	          </span></a></li>
	      <li><a class="app-menu__item" href="/travelfpoly/admin/addsalary"><i class='app-menu__icon bx bx-dollar'></i><span
	            class="app-menu__label">Bảng kê lương</span></a></li>
	      <li><a class="app-menu__item" href="/travelfpoly/admin/report"><i
	            class='app-menu__icon bx bx-pie-chart-alt-2'></i><span class="app-menu__label">Báo cáo doanh thu</span></a>
	      </li>
	      <li><a class="app-menu__item" href="/travelfpoly/admin/calendar"><i class='app-menu__icon bx bx-calendar-check'></i><span
	            class="app-menu__label">Lịch công tác </span></a></li>
	      <li><a class="app-menu__item" href="#"><i class='app-menu__icon bx bx-cog'></i><span class="app-menu__label">Cài
	            đặt hệ thống</span></a></li>
	    </ul>
	  </aside>
</body>
</html>