<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link rel="stylesheet" href="/admin/css/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"
    integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
</head>

<body>
  <!-- <header class="app-header">
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    Navbar Right Menu
    <ul class="app-nav">
      <li><a class="app-nav__item" href="/travelfpoly/account/logout"><i class='bx bx-log-out bx-rotate-180'></i> </a>
      </li>
    </ul>
  </header> -->
  <div class="nav" id="navbar">
    <nav class="nav__container">
      <div>
        <a href="/travelfpoly/home" class="nav__link nav__logo">
          <i class='bx bxs-disc nav__icon'></i>
          <span class="nav__logo-name">Travel fpoly</span>
        </a>

        <div class="nav__list">
          <div class="nav__items">
            <h3 class="nav__subtitle">Profile</h3>

            <a href="/travelfpoly/admin/index" class="nav__link active">
              <i class='bx bx-home nav__icon'></i>
              <span class="nav__name">Trang chủ</span>
            </a>


            <a th:href="@{/travelfpoly/admin/tour}" class="nav__link">
              <i class='bx bx-user nav__icon'></i>
              <span class="nav__name">Quản lý du lịch</span>

            </a>

            <a href="/travelfpoly/admin/addstaff" class="nav__link">
              <i class='app-menu__icon bx bx-id-card'></i>
              <span class="nav__name">Quản lý nhân viên</span>
            </a>
            <a href="/travelfpoly/admin/addorder" class="nav__link">
              <i class='app-menu__icon bx bx-task'></i>
              <span class="nav__name">Quản lý đơn hàng</span>

            </a>
            <a href="/travelfpoly/admin/addinternal" class="nav__link">
              <i class='app-menu__icon bx bx-run'></i>
              <span class="nav__name">Quản lý Nội Bộ</span>
            </a>

            <a href="/travelfpoly/admin/addsalary" class="nav__link">
              <i class='app-menu__icon bx bx-dollar'></i>
              <span class="nav__name">Quản lý thống kê</span>
            </a>

            <a href="/travelfpoly/admin/report" class="nav__link">
              <i class='app-menu__icon bx bx-pie-chart-alt-2'></i>
              <span class="nav__name">Quảng lý doanh thu</span>
            </a>

            <a href="/travelfpoly/admin/calendar" class="nav__link">
              <i class='app-menu__icon bx bx-calendar-check'></i>
              <span class="nav__name">Lịch Công tác</span>
            </a>
            <a href="#" class="nav__link">
              <i class='app-menu__icon bx bx-cog'></i>
              <span class="nav__name">Cài đặt</span>
            </a>

          </div>
        </div>
      </div>

      <a href="/travelfpoly/account/logout" class="nav__link nav__logout">
        <i class='bx bx-log-out nav__icon'></i>
        <span class="nav__name">Log Out</span>
      </a>

    </nav>
  </div>


  <main>

  </main>
</body>

</html>